In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../data/ipums_1.csv')
df.head()

,MIGRATE1,VETSTAT,UHRSWORK,OCC,EMPSTAT,YRMARR,ANCESTR1,CLASSWKR,EDUC,INCTOT,...,MARST,NCHLT5,VALUEH,HHINCOME,MORTAMT1,YEAR,AGEMARR,PCT_HHINC,PCT_MTG_INC,OCC_BROAD
0,1,1,0,0,3,1992,north american,0,2,15000,...,5,0,9999999,9999999,0,2018,40,0.150,0.0,other
1,1,1,0,0,3,1993,north american,0,2,12000,...,2,0,9999999,9999999,0,2018,40,0.120,0.0,other
2,1,1,0,0,3,1986,north american,0,1,9900,...,5,0,9999999,9999999,0,2018,47,0.099,0.0,other
3,2,2,0,0,3,1988,hispanic,0,2,1400,...,3,0,9999999,9999999,0,2018,27,0.014,0.0,other
4,1,1,0,0,3,1985,north american,0,1,12000,...,5,0,9999999,9999999,0,2018,48,0.120,0.0,other

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880856 entries, 0 to 1880855
Data columns (total 33 columns):
MIGRATE1       int64
VETSTAT        int64
UHRSWORK       int64
OCC            int64
EMPSTAT        int64
YRMARR         int64
ANCESTR1       object
CLASSWKR       int64
EDUC           int64
INCTOT         int64
RACE           int64
HISPAN         int64
DEGFIELD       int64
AGE            int64
BIRTHYR        int64
MORTGAGE       int64
SEX            int64
PERWT          float64
STRATA         int64
CLUSTER        int64
MARRNO         int64
NCHILD         int64
STATEFIP       int64
MARST          int64
NCHLT5         int64
VALUEH         int64
HHINCOME       int64
MORTAMT1       int64
YEAR           int64
AGEMARR        int64
PCT_HHINC      float64
PCT_MTG_INC    float64
OCC_BROAD      object
dtypes: float64(3), int64(28), object(2)
memory usage: 473.5+ MB

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
MIGRATE1,1880856.0,1.126305e+00,4.144306e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
VETSTAT,1880856.0,1.098338e+00,2.977715e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
UHRSWORK,1880856.0,2.422340e+01,2.173271e+01,0.000000e+00,0.000000e+00,3.100000e+01,4.000000e+01,9.900000e+01
OCC,1880856.0,2.870267e+03,2.934361e+03,0.000000e+00,0.000000e+00,2.310000e+03,4.850000e+03,9.920000e+03
EMPSTAT,1880856.0,1.850876e+00,9.799293e-01,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00
YRMARR,1880856.0,1.991496e+03,1.758481e+01,1.937000e+03,1.979000e+03,1.993000e+03,2.006000e+03,2.018000e+03
CLASSWKR,1880856.0,1.315973e+00,9.003255e-01,0.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
EDUC,1880856.0,1.649339e+00,7.690776e-01,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00
INCTOT,1880856.0,5.088840e+04,7.121308e+04,-1.000000e+04,1.320000e+04,3.200000e+04,6.200000e+04,1.423000e+06
RACE,1880856.0,1.441771e+00,1.072447e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
HISPAN,1880856.0,1.589133e-01,4.743218e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
DEGFIELD,1880856.0,1.442159e+01,2.266809e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.400000e+01,6.400000e+01
AGE,1880856.0,5.598166e+01,1.625842e+01,1.700000e+01,4.300000e+01,5.700000e+01,6.800000e+01,9.600000e+01
BIRTHYR,1880856.0,1.962018e+03,1.625842e+01,1.922000e+03,1.950000e+03,1.961000e+03,1.975000e+03,2.001000e+03
MORTGAGE,1880856.0,1.238330e+00,7.995960e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00
SEX,1880856.0,1.536739e+00,4.986485e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
PERWT,1880856.0,9.380682e+01,7.501692e+01,1.000000e+00,5.000000e+01,7.500000e+01,1.140000e+02,2.097000e+03
STRATA,1880856.0,4.616247e+05,9.363684e+05,1.000100e+04,8.150800e+04,2.100280e+05,4.102360e+05,7.030155e+06
CLUSTER,1880856.0,2.018007e+12,4.099685e+06,2.018000e+12,2.018003e+12,2.018007e+12,2.018011e+12,2.018014e+12
MARRNO,1880856.0,1.314195e+00,5.756962e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
NCHILD,1880856.0,7.513159e-01,1.086326e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,9.000000e+00
STATEFIP,1880856.0,2.783143e+01,1.607139e+01,1.000000e+00,1.200000e+01,2.700000e+01,4.200000e+01,5.600000e+01
MARST,1880856.0,1.906142e+00,1.466960e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00
NCHLT5,1880856.0,1.260511e-01,4.184366e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00
VALUEH,1880856.0,2.552501e+06,4.077231e+06,1.000000e+03,1.500000e+05,3.000000e+05,1.300000e+06,9.999999e+06
HHINCOME,1880856.0,3.575813e+05,1.562098e+06,-1.640000e+04,4.320000e+04,8.000000e+04,1.360000e+05,9.999999e+06
MORTAMT1,1880856.0,6.543100e+02,9.730312e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+03,7.400000e+03
YEAR,1880856.0,2.018000e+03,0.000000e+00,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03
AGEMARR,1880856.0,2.947782e+01,1.044781e+01,1.400000e+01,2.200000e+01,2.600000e+01,3.400000e+01,9.500000e+01
PCT_HHINC,1880856.0,5.270808e+01,3.634691e+01,-9.600000e+03,2.439516e+01,5.063291e+01,8.537370e+01,9.700000e+03
PCT_MTG_INC,1880856.0,1.947442e+01,2.266614e+03,-8.400000e+05,0.000000e+00,0.000000e+00,1.322110e+01,1.110000e+06

### Random Forest Model

In [5]:
# define X
X = df.drop(['YRMARR', 'BIRTHYR', 'YEAR', 'OCC', 'PERWT', 'STRATA', 'CLUSTER'], axis=1)
# define y
y = df.MARST
# define dummies
dummies = ['MIGRATE1', 'VETSTAT', 'EMPSTAT', 'ANCESTR1', 'STATEFIP', 'OCC_BROAD', 'CLASSWKR', 'NCHILD', 'MARRNO', 'NCHLT5', 
           'SEX', 'DEGFIELD', 'HISPAN', 'RACE', 'EDUC', 'MORTGAGE']

In [12]:
pip install dataframe-mapper

Collecting dataframe-mapper
  Downloading https://files.pythonhosted.org/packages/b7/58/20cce8519337744ff386b98b846c4649c1db65b732a639f96416ae5182c3/dataframe_mapper-0.0.3-py3-none-any.whl
Requirement already satisfied: pandas>=0.23.0 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from dataframe-mapper) (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from pandas>=0.23.0->dataframe-mapper) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from pandas>=0.23.0->dataframe-mapper) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from pandas>=0.23.0->dataframe-mapper) (1.16.5)
Requirement already satisfied: six>=1.5 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23.0->dataframe-mapper) (1.12.0)
Installing collected packages: dataframe-mapper
Successfully installed dataframe-mapper-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install sklearn-pandas

Collecting sklearn-pandas
  Downloading https://files.pythonhosted.org/packages/1f/48/4e1461d828baf41d609efaa720d20090ac6ec346b5daad3c88e243e2207e/sklearn_pandas-1.8.0-py2.py3-none-any.whl
Requirement already satisfied: scipy>=0.14 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from sklearn-pandas) (1.3.1)
Requirement already satisfied: scikit-learn>=0.15.0 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from sklearn-pandas) (0.22.1)
Requirement already satisfied: pandas>=0.11.0 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from sklearn-pandas) (0.25.1)
Requirement already satisfied: numpy>=1.6.1 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from sklearn-pandas) (1.16.5)
Requirement already satisfied: joblib>=0.11 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from scikit-learn>=0.15.0->sklearn-pandas) (0.13.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from pandas>=0.11.0->sklearn-pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from pandas>=0.11.0->sklearn-pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\achil\anaconda3\envs\learn-env\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.11.0->sklearn-pandas) (1.12.0)
Installing collected packages: sklearn-pandas
Successfully installed sklearn-pandas-1.8.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Import necessary modules
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

mapper = DataFrameMapper(
    [(d, LabelEncoder()) for d in dummies]
)


# Setup the pipeline
steps = [("mapper", mapper),("onehot", OneHotEncoder()), ('scaler', StandardScaler(with_mean=False)),
        ('rf', RandomForestClassifier(n_estimators=25, random_state=42, verbose=True, n_jobs=-1))]

# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

# Fit the pipeline to the train set   
pipeline.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

In [ ]:
# Compute and print metrics on training set
print("Accuracy: {}".format(accuracy_score(X_train, y_train)))
print(classification_report(y_train, pipeline.predict(X_train)))

In [ ]:
# Create a pd.Series of features importances
importances = pd.Series(data=rf.feature_importances_,
                        index= X_train.columns)

# Sort importances
importances_sorted = importances.sort_values()

# Draw a horizontal barplot of importances_sorted
importances_sorted.plot(kind='barh', color='lightgreen')
plt.title('Features Importances')
plt.show()